/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* ----- METHOD 1 & 2 ----- */
body {
  background-color: #f0f7fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  font-family: "Roboto", serif;
}

.slideshow {
  width: 80vw;
  height: 80vh;
  border: 5px solid #5da7de;
  border-radius: 0.25rem;
  transition: background 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-text {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  width: 60%;
  text-align: center;
  padding: 0.5rem;
}

.prev-next-buttons {
  display: flex;
  gap: 1rem;
}

button {
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  transition: 0.25s;
  color: #4A4A4A;
}

button:hover {
  color: #5da7de;
}

.hide {
  display: none;
}


